<h2 style="text-align: center;">Registrar person</h2>
<form [formGroup]="form" (ngSubmit)="submit()" class="formulario">

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput formControlName="Name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Lastname</mat-label>
        <input matInput formControlName="LastName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Indentification</mat-label>
        <input matInput formControlName="Identification">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Age</mat-label>
        <input matInput formControlName="Age" type="number">
    </mat-form-field>

 
    
    <div class="button-group">
        <button mat-flat-button type="submit" [disabled]="noPersonsAvailable">Registrar</button>
        <button mat-raised-button (click)="cancelar()" type="button">Cancelar</button>
    </div>
</form>