<mat-toolbar>
  <samp>
    <!-- <a routerLink="" mat-button>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a> -->

    <a routerLink="login" mat-button>
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </a>

    <a routerLink="user" mat-button>
      <mat-icon>person</mat-icon>
      <span>User</span>
    </a>

    <a routerLink="person" mat-button>
      <mat-icon>people</mat-icon>
      <span>Person</span>
    </a>

    <a routerLink="rol" mat-button>
      <mat-icon>security</mat-icon>
      <span>Rol</span>
    </a>

    <a routerLink="permission" mat-button>
      <mat-icon>lock</mat-icon>
      <span>Permission</span>
    </a>

    <a routerLink="user-rol" mat-button>
      <mat-icon>supervisor_account</mat-icon>
      <span>User Rol</span>
    </a>

    <a routerLink="module" mat-button>
      <mat-icon>view_module</mat-icon>
      <span>Module</span>
    </a>

    <a routerLink="form" mat-button>
      <mat-icon>description</mat-icon>
      <span>Form</span>
    </a>

    <a routerLink="module-form" mat-button>
      <mat-icon>integration_instructions</mat-icon>
      <span>Module Form</span>
    </a>

     <a routerLink="post" mat-button>
      <mat-icon>integration_instructions</mat-icon>
      <span>Api publica</span>
    </a>
  </samp>
</mat-toolbar>
