<mat-toolbar>
    <samp>
        <a routerLink="" mat-button>
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>
        <a routerLink="user" mat-button>
            <mat-icon>person</mat-icon>
            <span>user</span>
        </a>
        <a routerLink="person" mat-button>
            <mat-icon>people</mat-icon>
            <span>person</span>
        </a>
        <a routerLink="form" mat-button>
            <mat-icon>description</mat-icon>
            <span>form</span>
        </a>
        
        <a routerLink="module" mat-button>
            <mat-icon>description</mat-icon>
            <span>module</span>
        </a>
        <a routerLink="permission" mat-button>
            <mat-icon>description</mat-icon>
            <span>permission</span>
        </a>

        <a routerLink="rol" mat-button>
            <mat-icon>description</mat-icon>
            <span>rol</span>
        </a>

        <a routerLink="module-form" mat-button>
            <mat-icon>description</mat-icon>
            <span>module-form</span>
        </a>

        <a routerLink="user-rol" mat-button>
            <mat-icon>description</mat-icon>
            <span>user rol</span>
        </a>
        <a routerLink="login" mat-button>
            <mat-icon>description</mat-icon>
            <span>login</span>
        </a>
        </samp>
</mat-toolbar>
